<p>
  <strong>Question:</strong>
  <%= @question.question %>
</p>

<p>
  <strong>Collaborators:</strong>
  <% @question.users.each do |user| %>
    <%= user.email %>
  <% end %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @question.answer %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
